<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daqsoft.module_work">
    <application>

        <activity android:name=".activity.LeaveListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddLeaveApplyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddressBookActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DepartmentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AttendanceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AttendanceMonthlyCalendarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.LeaveApplyInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.OrganizationContainerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.MonitorForecastActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlarmDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlarmHandleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SupplementCardListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddSupplementCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SupplementCardApplyInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ApprovalManagementActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.VideoSurveillanceListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VideoSurveillanceDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Full" />

        <activity android:name=".activity.IncidentReportActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.IncidentListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.IncidentDetailActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>